@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebe9e4;
    font-family: 'JetBrains Mono', monospace;
    height: 100000px;
}


.line {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #ffffff;
}